<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Vue Test</title>
    </head>
    <body>
        <div id="app">
            <p>
                <label>请输入要添加的项：</label>
                <input type="text" v-model="item" />
                <button v-on:click="add">添加</button>
            </p>
            <ul>
                <li v-for="(value, index) in list" :key="index">
                    {{ value }}
                    &nbsp;&nbsp; <button v-on:click="remove">删除</button>
                </li>
            </ul>
            <p>
                <button-container></button-container>
            </p>
            <blog-post title="title 1"></blog-post>
            <blog-post title="title 2"></blog-post>
            <blog-post title="title 3"></blog-post>
            <alert>
                <p>What this?</p>
                <slot>What this?</slot>
            </alert>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./index.js"></script>
    </body>
</html>